@charset "UTF-8"; 

/* reset */
*{margin: 0 auto;}
#wrap {width: 1200px; margin: 0 auto;}
#wrap header {display: flex;}
#wrap header h1.logo{width: 300px;height: 100px; background-color: red;}
/* menu-개별메뉴 */
#wrap header nav.menu{width: 900px;height: 100px; background-color: rgb(38, 16, 237);}

/* 위아래슬라이드 */
#wrap #contents .slide {height: 300px; background-color: #000;}


#wrap #contents .ngb {height: 200px; background-color: #868686; display: flex;}
#wrap #contents .ngb .notice {width: 400px; height: 200px; background-color: #c47b7b;}
#wrap #contents .ngb .gallery {width: 400px; height: 200px; background-color: #4a1414;}
#wrap #contents .ngb .banner {width: 400px; height: 200px; background-color: #c47b7b;}
#wrap footer {display: flex;}
#wrap footer .bc .bmenu {width: 900px;height: 50px;background-color: rgb(48, 38, 34);}
#wrap footer .bc .copyright {width: 900px;height: 50px;background-color: rgb(171, 26, 216);}
#wrap footer .fm {width: 300px;height: 100px;background-color: rgb(39, 164, 236);}