@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');

/* reset */
*{margin: 0; padding: 0;}
ul,li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: inherit;}
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0;}
/* img:hover {opacity: 0.7;} */

#wrap {
    width: 1000px;
    display: flex;
    border-bottom: 1px solid #146C94;
}

/* header */
#wrap header {
    width: 200px;
    height: 650px;
}

#wrap header h1.logo {
    width: 200px;
    height: 100px;
}

#wrap header h1.logo img {
    width: 170px;
    top: 50%; left: 50%;
    margin: 20px 0 0 20px;
}

/* 멀티메뉴 */
#wrap header nav.menu {
    width: 200px;
    height: 550px;
    background-color: #146C94;
}

#wrap header nav.menu .mu {
    width: 200px;
    height: 200px;
}

/* 대메뉴 */
#wrap header nav.menu .mu>ul>li {
    width: 200px;
    height: 50px;
    line-height: 50px;    
    position: relative;
}

#wrap header nav.menu .mu>ul>li>a {
    display: block;
    background-color: #146C94;
    border-bottom: 1px solid #174257;
    height: 50px; line-height: 50px;   
    text-align: center; font-weight: bold;
    color: #d7f1fd;
    font-size: 14px;
    box-sizing:border-box;
}

#wrap header nav.menu .submenu {
    background: rgba(255,255,255,.8);
    width: 150px;
    font-size: 14px;
    height: auto; 
    top: 0; left: 200px;
    position: absolute;
    color: #d7f1fd;
    display: none;
}

#wrap header nav.menu .submenu > li {
    color: #146C94;
    border-bottom: 1px solid #d3d3d3;
    height: 30px; line-height: 30px;
    padding: 10px 20px;
}

#wrap header nav.menu .submenu > li:hover a {
    text-decoration: underline;
} 

#wrap #contents {
    width: 800px;
    height: 650px;
}

#wrap #contents .slide {
    width: 800px;
    height: 350px;
    background-color: #bd8df7;
    overflow: hidden;
}

#wrap #contents .slide .slideList {
    display: flex; width: 800px;
}

/* 공지,갤러리,배너 */
#wrap #contents .ngb {
    display: flex;
    width: 800px;
    height: 200px;
}

#wrap #contents .ngb h2 {
    font-size: 20px;
    padding: 10px 0 5px 7px;
    color: #146C94;
}

#wrap #contents .ngb .notice {
    width: 267px;
    height: 200px;
}

#wrap #contents .ngb .notice ul {
    padding: 7px; 
}

#wrap #contents .ngb .notice ul li {
    height: 27px; line-height: 27px;
    border-bottom: 1px dotted #999;
}

#wrap #contents .ngb .notice ul li a { float: left;
    display: block; color: #222328; font-size: 14px;
}

#wrap #contents .ngb .notice ul li a:hover {color: #146C94; 
text-decoration: underline;
}

#wrap #contents .ngb .notice ul li span {color: #999;
    float: right; font-size: 12px; display: block;}

#wrap #contents .ngb .gallery {
    width: 266px;
    height: 200px;
    background: #ddd;
}

#wrap #contents .ngb .gallery ul {
    display: flex; justify-content: space-evenly;
    margin-top: 10px;
}

#wrap #contents .ngb .gallery ul img {width: 80px; height: 141px;}
#wrap #contents .ngb .gallery ul img:hover {opacity: .8;}

#wrap #contents .ngb .banner {
    width: 267px;
    height: 200px;
    background-color: #999;
}

/* footer */
#wrap #contents footer {
    width: 800px;
    height: 100px;
    display: flex;
    border-top: 1px solid #146C94;

}

#wrap #contents footer .blogo {
    width: 200px;
    height: 100px;

}
#wrap #contents footer .blogo img {
    width: 170px;
    top: 50%; left: 50%;
    margin: 20px 0 0 20px; 
}

#wrap #contents footer .footerContents {width: 600px; height: 100px;}

#wrap #contents footer .fm {
    width: 600px;
    height: 50px;
    border-bottom: 1px solid #c6d6de;
}

#wrap #contents footer .fm ul {display: flex; justify-content: space-around;}

#wrap #contents footer .fm ul li {
    line-height: 50px; height: 50px;
}

#wrap #contents footer .fm ul li a {
    color: #222328; font-size: 13px;
}

#wrap #contents footer .fm ul li a:hover {
    text-decoration: underline; color: #146C94;
}

   

#wrap #contents footer .copyright {
    width: 600px;
    height: 50px;
}

#wrap #contents footer .copyright p {margin-top: 15px; text-align: center; color: #666;
font-size: 12px;}

#wrap #popup {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    border: 3px solid #146C94;
    background-color: #ffff;
    display: none;
    z-index: 3;
}

#wrap #popup h3 {
    font-size: 17px;
    width: 400px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #146C94;
    color: #fff;
}

#wrap #popup .close {
    background-color: #ff5050;
    font-size: 13px;
    padding: 7px 11px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#wrap #popup .close:hover {
    background-color: #6e2d2d;
}

#wrap #popup .text {
    margin: 30px 0 0 170px;
}

#wrap #popup .text p {
    line-height: 1;
}

#wrap #popup .text p strong {
    display: block;
    background-color: #000;
    width: 70px;
    height: 25px;
    line-height: 25px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

#wrap #popup .text p span {
    margin-left: 10px;
    margin-top: -20px;
    display: block;
}